/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* ---Variables--- */
:root {
  --button-background-color: #e02c6d;
  --button-font-color: white;
  --nav-minu-color: #eab676;
  --camera-hover-background-color: #e8edf2;
}
/*---------------------------
---- header section style ---
---------------------------- */
.left-half-width .preebook-now-button {
  text-decoration: none;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  padding: 15px 30px;
  border-radius: 25px;
}
header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 130px;
}
.half-width {
  width: 50%;
  padding: 30px;
}
.half-width .left-half-width {
  margin-left: 60px;
}
.half-width .right-half-width {
  margin-right: 40px;
}
.half-width .right-half-width > ul {
  display: flex;
  justify-content: space-evenly;
}

.half-width .right-half-width > ul > li:hover a {
  background-color: var(--nav-minu-color);
}
.half-width .right-half-width > ul > li {
  list-style: none;
}
.half-width .right-half-width > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: 600px;
}
.left-half-width > h1 > span {
  display: block;
}
.half-width img {
  width: 70%;
  margin-left: 45px;
  padding-top: 50px;
}
.half-width img:hover {
  transform: scalex(1.4) rotate(360deg);
  transition: transform 3s ease-out;
  background-color: var(--camera-hover-background-color);
  border-radius: 100px;
}
    /*--------------------------
    ---- company logo styles --
    ---------------------------*/
.container1 .company-logo{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    width: 1010px;
    height: 100px;
    border: 1px solid gainsboro;
    margin-left: 110px;
    margin-bottom: 110px;
}
      /*------------------------------
         Popular collection styles 
       ------------------------------*/

       .section-title{
           text-align: center;
           margin-bottom: 30px;

       }
         .container2{
           width: 1027px;
           height: 1662px;
           margin-left: 110px;

       }  


        .products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:5px;
       
       }  
       .product{
           width: 300px;
           height:476px ;
           background-color: 
           #FFFFFF;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
          padding:20px 0px;
          padding-left: 20px;
          margin-top: 25px;
         
       }
       .product-picture{
           width: 300px;
           height: 256px;

       }
       .product-price> h3{
           font-weight:500px;
           color: rgba(0, 0, 0, 0.87);;
       }
       .fa-star.filled {
        color: #ffc014;
        font-weight: 12px;
       }
       .fa-star-half-alt.half-filled{
        color:  #ffc014;
        font-weight: 12px;
       }
       .rating{
           font-weight: 700px;
           margin-left: 10px;
       }